html{
    background: #f9f9f9;
}

h2 {
    margin: 10px 0px 5px 0px;
    padding: 0px;
}

h4, p {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: black;
}

em{
    font-style: normal;
    font-weight: 400;
}

li, ul{
    list-style: none;
}

img {
    border: none;
}

button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}


.wap {
    position: relative;
}

.container {
    margin: 0 auto;
    padding-top: 16px;
    width: 800px;
}

.content_inner {
    border: 1px solid #ebebeb;
    position: relative;
    background: #fff;
}

.top_image_line {
    min-height: 144px;
    position: relative;

}

.top_image_line .image_present {
    background-position: 50% 50%;
    background-size: cover;
    display: block;
    height: 270px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.frame_g {
    box-sizing: border-box;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.place_out_line {
    margin: -64px auto 0;
    padding-bottom: 4px;
    position: relative;
    text-align: center;
    width: 744px;
    z-index: 10;
}

.place_inner {
    border: 1px solid #ebebeb;
}

.place_out_line .place_inner {
    background: url(image/inner_box.png) repeat-y;
    min-height: 187px;
    padding-top: 50px;
}

.place_out_line .place_inner .place_brand_box {
    align-content: center;
    display: flex;
    justify-content: center;
    padding: 0 75px;
}
.admin_button{
    display: inline-block;
    float: right;
    padding: 15px;
}
.admin_button:hover{
    display: inline-block;
    float: right;
    padding: 15px;
    background-color: #FF885B;
}

.evalution_box .bar{
    margin-top: 7px;
    height: 14px;
}

.icon_star{
    width: 25px;
    height: 25px;
}
.restaurant_title {
    font-size: 40px;
    letter-spacing: -2px;
    line-height: 50px;
    padding: 2px 33px 0;
    color:#FF885B;

}

.place_out_line .evalution_box {
    height: 30px;
    padding-top: 8px;
    text-align: center;
}

.place_out_line .evalution_link {
    display: inline-block;
    font-size: 16px;
    letter-spacing: -1px;
    line-height: 25px;
    text-decoration: none;
    vertical-align: top;
}

.place_info_box {
    padding: 25px 79px 40px;
    position: relative;
}

.place_info_box .detail_info_title {
    font-weight: 700;
    /*padding-bottom: 17px;*/
}

.detail_info_title {
    font-size: 17px;
    height: 23px;
    letter-spacing: -2px;
    line-height: 24px;
    /* padding: 10px 0 0;*/
}

.place_info_detail {
    line-height: 22px;
    min-height: 22px;
    padding-bottom: 10px;
}

.place_info_detail .info_title_detail {
    float: left;
}

.place_info_icon {
    display: block;
    font-size: 1px;
    line-height: 0;
    overflow: hidden;
    text-indent: -9999px;
}

.address_icon {
    margin: 0px 0 0 0px;
    width: 14px;
}

.place_location {
    padding-left: 24px;
    position: relative;
}

.place_location .address_text {
    display: block;
    word-break: break-all;
}

.place_location .address_num_text {
    color: #666;
    display: block;
    height: 17px;
    line-height: 17px;
    padding-top: 3px;
}

.address_num_text .bar {
    margin: 4px 6px 0;
}

.bar {
    background: #e5e5e5;
    display: inline-block;
    height: 10px;
    text-indent: -9999px;
    vertical-align: top;
    width: 1px;
}

.place_info_detail .place_homepage {
    margin-top: -3px
}

.place_info_icon .homepage_icon {
    /*지구 아이콘 제작자: photo3idea_studio - Flaticon*/
    height: 5px;
    margin: 4px 0 0 1px;
    width: 5px;
}

.place_info_detail .place_homepage .homepage_text {
    position: relative;
    top: 2px;
}

.homepage_text > .link_homepage {
    text-decoration: none;
    float: left;
    max-width: 590px;
}

.place_info_detail .link_homepage {
    color: #FF885B;
    display: inline-block;
    letter-spacing: 0;
    line-height: 18px;
    /*쓰면 글씨가 약간 짤려서 우선은 주석처리*/
    /*overflow: hidden;*/
    white-space: nowrap;
    word-break: break-all;
}

.place_info_icon .phone_icon {
    height: 15px;
    margin: 6px 0 0 1px;
    width: 15px;
}
.phone_icon{
    margin-top: 4px;
    width: 12px;
    height: 15px;
    margin-left: 1px;
}

.place_location .phone_text .phone_num_text {
    font-size: 15px;
    letter-spacing: 0;
}
.place_location .title_info_text{
    font-size: 16px;
    display: block;
    word-break: break-all;
    
}

.icon_desc{
    width: 15px;
}
.menu_info {
    background-color: #fff;
    border: 1px solid #eaeaea;
    margin-top: 10px;
    padding: 39px 79px 32px;

}

.menu_info_title_box {
    overflow: hidden;
}

.menu_image_wrap {
    width: 640px;
}

.menu_info .menu_image_present {
    overflow: hidden;
    padding-top: 20px;
    width: 642px;
}

.menu_info .view_menu {
    background-position: 50% 50%;
    background-size: cover;
    float: left;
    height: 450px;
    margin-top: 1px;
    position: relative;
    width: 640px;
}

.screen_out {
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: -9999px;
}

.menu_info .menu_list li {
    border-bottom: 1px solid #f2f2f2;
    min-height: 26px;
    overflow: hidden;
    padding: 12px 0;
    position: relative;
    width: 640px;
}

.menu_info .link_photo {
    float: left;
    padding-right: 16px;
}

.menu_info .link_photo .inner_photo {
    display: block;
    height: 90px;
    overflow: hidden;
    position: relative;
    width: 106px;
}

.img_thumb {
    height: auto;
    vertical-align: top;
    width: 100%;
}

.menu_info .menu_title_box {
    font-size: 0;
    overflow: hidden;
}

.menu_info .menu_text {
    display: block;
    font-size: 15px;
    line-height: 18px;
}

.menu_text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    word-break: break-all;
    /*word-break:break-word는 더이상 지원하지 않음*/
}

.map_container {
    border: 1px solid #eaeaea;
    margin-top: 10px;
    padding: 29px 79px 47px;
    background: #fff;
}

.map_box {
    border: 1px solid #ccc;
    margin-top: 19px;
    overflow: hidden;
    top: 1px;
}

.map_box .view_map {
    height: 258px;
    position: relative;
    width: 638px;
}

.rate_box{
    border : 1px solid #eaeaea;
    margin-top: 10px;
    padding: 23px 79px 55px 79px;
    background: #fff;
    
}

.rate_box .rate_intro{
    overflow: hidden;
    position: relative;
}

.rate_box .rate_intro .desc_rate{
    float: left;
    font-size: 18px;
    padding: 15px 0 0 10px;
}

.rate_box .rate_intro .desc_rate_username{
    float: left;
    font-size: 18px;
    padding: 15px 0 0 16px;
    font-weight: bold;
    color:#FF885B;
}

.rate_box .rate_intro .link_profile{
    background: url(image/%EB%B3%B4%EB%85%B8%EB%B3%B4%EB%85%B8.png);
    background-size: 100% auto;
    float: left;
    height: 54px;
    position: relative;
    width: 54px;
}
.rate_box .rate_intro .user_rate{
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 204px;
    
}

.rate_box .rate_intro .ico_star_rate{
    background-position: 0 -100px;
    height: 36px;
    width: 204px;
}

.ico_star_rate{
    background-image: url(image/ico_star.png);
    background-size: 220px 180px;
}
.ico_star_rate .inner_star{
    background-position: 0 -140px;
    height: 100%;
}

.comment_write{
    margin-top: 15px;
    width: 100%;
    height: 100px;
    border: 1px solid #ccc;
    resize: none;
    outline: none;
    font-size: 16px;
    
}

.rate_box .button_box{
    /*position: relative;*/
    float: right;
    margin: 10px 0;
    display: block;
    
}
.select_button{
    border: 1px solid #eaeaea;
    background-color: white;
    padding: 6px;
    border-radius: 10px;
    font-size: 15px;
    margin-left: 5px;
}

.select_button:hover{
    border: none;
    background-color: #FF885B;
    color: white;
}

.comments_box{
    border: 1px solid #eaeaea;
    margin-top: 10px;
    padding: 29px 79px 31px;
    background: #fff;
}

.comments_box .total_comment{
    display: block;
    font-size: 17px;
    letter-spacing: -2px;
    line-height: 24px;
    margin-top: 20px;
    position: relative;
}
.comments_box .total_comment .color_b{
    display:inline-block;
    font-size: 18px;
    font-weight: 400;
    height: 20px;
    letter-spacing: 0;
    line-height: 28px;
    padding-left: 6px;
    vertical-align: top;
}

.color_b{
    color: #FF885B;
}

.user_grade_box{
    overflow: hidden;
    padding: 11px 0 0;
}

.user_grade_box .num_rate{
    float: left;
    font-size: 28px;
    height: 30px;
    letter-spacing: 0;
    line-height: 30px;
    color: #FF885B;
}

.user_grade_box .text_score{
    display: inline-block;
    font-size: 25px;
    line-height: 33px;
    margin-left: 4px;
    vertical-align: top;
    color: #000000;
    
}

.view_like_point{
    margin: 0 -2px;
    max-height: 80px;
    overflow: hidden;
    padding-top: 13px;
}
.view_like_point .chip_like_point {
    border-radius: 30px;
    color: #ff885b;
    float: left;
    font-weight: 700;
    height: 36px;
    line-height: 36px;
    margin: 4px 2px 0;
    padding: 0 19px 0 20px;
}

.view_like_point .chip_like_point .chip_type1{
    background-color: aqua;
}


.review_list .reply_comment_list{
    padding-top: 10px;
}

.reply_comment_list{
    background-color: #e7e7e7;
}

.ico_comm .ico_comm_fgm{
    font-size: 1px;
    line-height: 0;
    overflow:hidden;
    text-indent: -9999px;
}

.ico_comm {
    background-repeat: no-repeat;
}

.view_like_point .chip_like_point .ico_like3{
    display: inline-block;
    height: 13px;
    margin: 10px 5px 0 0;
    vertical-align: top;
    width: 13px;
}

.review_box{
    /*padding-top: 20px; */
    /*태그 넣을 때 padding 확장필요*/
    padding-top:10px;
}

.review_list > li{
    border-top: 1px solid #f2f2f2;
    font-size: 0;
    min-height: 52px;
    padding: 30px 0 18px 79px;
    position: relative;
}

.review_list .profile_info{
    background-image: url(image/%EB%B3%B4%EB%85%B8%EB%B3%B4%EB%85%B8.png);
    /*108x108의 기본 프로필 이미지 필요*/
    background-size:48px 48px;
}

.review_list .reply_img{
    background-size: 100% 100%;
    height: 48px;
    left: 0;
    position: absolute;
    top: 10px;
    width: 48px;
    margin-left: 25px;
   
}


.review_list .thumb_g{
    display: block;
    height: 48px;
    width: 48px;
}

.review_list .reply_img .thumb_g{
    display: block;
    height: 24px;
    width: 24px;
}
.review_list .profile_info {
    background: url(//t1.daumcdn.net/localimg/localimages/07/2018/pc/bg_profile.png) no-repeat;
    background-size: 100% 100%;
    height: 48px;
    left: 0;
    position: absolute;
    top: 30px;
    width: 48px;
} 
.reply_comment_list .unit_info{
    overflow: hidden;
    margin-bottom: 28px;
    margin-left: 100px;
}
.review_list .unit_info{
    overflow: hidden;
    margin-bottom: 28px;
    /*프로필 사진 넣을 시 아래 margin 지울 것*/
    margin-left: -80px;
}

.review_list .link_user{
    float: left;
}
.review_list .inner_user{
    display: flex;
}

.review_list .link_user .text_username{
    color: #333;
    font-size: 14px;
    font-weight: 700;
    max-width: 158px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.review_list .bar{
    background: #e2e2e2;
    height: 11px;
    margin: 6px 6px 0;
}

.review_list .unit_info .text_desc{
    color: #666;
   /* float: left;*/
    font-size: 14px;
    font-weight: 700;
    padding-left: 3px;
}

.review_list .unit_info .time_write{
    color: #959595;
    font-size: 14px;
}
.text_item{
    padding-left: 6px;
}

.review_list .unit_info .text_item{
    color: #666;
   /* float: left;*/
    font-size: 14px;
}

.review_list .time_write{
   /* float: left;*/
    letter-spacing: 0;
    line-height: 21px;
}

.review_list .photo_group{
    padding-top: 14px;
}
.review_list .photo_group .list_photo{
    font-size: 0;
    white-space: nowrap;
}
.review_list .photo_group .list_photo li{
    border-top: 0;
    display: inline-block;
    padding: 0;
}

.review_list .photo_group .box_photo{
    display: block;
    height: 139px;
    position: relative;
    width: 139px;
}

.review_list .photo_group .img_thumb{
    height: 100%;
}

.img_thumb{
    vertical-align: top;
    width: 100%;
}

.icon_reply{
    margin-top: 20px;
}


.review_list .comment_info{
    overflow: hidden;
    padding: 9px 12px 0 0;
}

.review_list .text_comment{
    color: #444;
    line-height: 21px;
    overflow: hidden;
}

.review_list .text_comment span {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    display: block;
    display: -webkit-box;
    font-size: 15px;
    line-height: 22px;
    max-height: 88px;
    overflow: hidden;
    white-space: pre-wrap;
    word-break: break-all;
}

.comment_info_reply{
    margin-top: 20px;
    margin-right: 20px;
}
.review_list .reply_comment_list .wrap_util {
    right: 0;
    top: 10px;
}
.review_list .wrap_util {
    right: 0;
    top: 30px;
}

.wrap_util {
    position: absolute;
}

.ico_comm {
    background-image: url(//t1.daumcdn.net/localimg/localimages/07/2018/pc/rtn/ico_detail_240813.png);
    background-size: 270px auto;
}

.ico_comm, .ico_comm_fgm {
    display: block;
    font-size: 1px;
    line-height: 0;
    overflow: hidden;
    text-indent: -9999px;
}
.wrap_util .list_opt li {
    border-top: 0;
    min-height: auto;
    padding: 0;
}
.wrap_util .link_util {
    color: #444;
    display: block;
    font-size: 13px;
    line-height: 30px;
    text-decoration: none;
}

.review_list .layer_util .link_util {
    text-align: center;
}

.link_more {
    border-top: 1px solid #f2f2f2;
    display: block;
    height: 56px;
    line-height: 57px;
    margin-top: 16px;
    text-align: center;
}

.link_more .ico_more {
    background-position: -160px -60px;
    display: inline-block;
    height: 5px;
    margin: 25px 0 0 6px;
    vertical-align: top;
    width: 10px;
}

.comment_user_button{
    padding-left: 15px;
    color:#959595;
}

.comment_user_button:hover{
    text-decoration: underline;
}